body {
    background-color: hsl(30, 38%, 92%)
}

.main {
    display: flex;
    align-content: center;
    flex-direction: row;
}

.main-wrapper {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    margin-left: 10%;
    border-radius: 10px;
}

.wrapper {
    width: 720px;
}

.img {
    border-radius: 10px 0 0 10px;
    display: inline;
    width: 720px;
}

.title {
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 500;
    color: rgba(105, 105, 105, 0.57);
    padding-left: 40px;
}

.title-name {
    font-family: 'Fraunces';
    font-size: 54px;
    padding-left: 30px;
    font-weight: 700;
}

.desc {
    font-family: 'Montserrat';
    font-size: 35px;
    color: rgba(105, 105, 105, 0.57);
    margin: 0 30px;
    margin-bottom: 40px;
}

/* .btn {
    font-family: 'Montserrat';
    font-size: 30px;
    color: aliceblue;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin-left: 25%;
} */

.last-price {
    display: inline-block;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 72px;
    color: #3D8168;
    margin-left: 20%;
}
.cross-price {
    text-decoration: line-through;
    display:inline-block;
    font-family: 'Montserrat';
    font-size: 42px;
    color: rgba(105, 105, 105, 0.57);
    margin-left: 5%;
    margin-bottom: 100px;
}

.footer {
    font-size: larger;
    font-family: 'Montserrat';
}

.btn {
    font-family: 'Montserrat';
    font-size: 30px;
    color: aliceblue;
    background-color: #3D8168;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    align-content: space-around;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin-left: 25%;
}

.btn img {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-left: 88px;
}

.btn p {
    margin: auto;
    margin-right: 65px;
}